[submodule "app/jni/libtgvoip"]
	path = app/jni/libtgvoip
	url = https://github.com/grishka/libtgvoip
[submodule "app/jni/libwebp"]
	path = app/jni/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "app/jni/ffmpeg"]
	path = app/jni/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
